<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .container{
      display: flex;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
    }
    .item{
      align-items: center;
    }
    .item button{
      margin: 10px;
      padding: 10px;
      width: 300px;
      display: block;
      background-color: #0479df;
      color: white;
      border-color: #0479df;
    }
    .item input{
      width: 300px;
      margin: 10px;
      padding: 10px;
    }
    .error{
      color: red;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="item">
      <h1>String Calculator</h1>
      <form>
        <input type="text" name="stringInput">
        <button type="submit">Calculate</button>
      </form>
      <h2>Sum <span class="sum">0</span></h2>
      <div class="error"></div>
    </div>
  </div>

  <script>
    const form = document.querySelector('form');
    const sumSpan = document.querySelector('.sum');
    const errorDiv = document.querySelector('.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const stringInput = form.stringInput.value;

      sumSpan.textContent = 0;
      errorDiv.textContent = '';
      try {
        const res = await fetch('/sum',{
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({stringInput})
        })

        const data = await res.json();
        if(data.result){
          sumSpan.textContent = data.result;
        }
        if(data.message){
          errorDiv.textContent = data.message;
        }
        

      } catch (error) {
        console.log(error);
      }
    })
  </script>
</body>
</html>